<div class="container">
  <table class="table table-hover table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of rows" (click)="loadCharacter(character.id)">
        <th scope="row">{{ character.id }}</th>
        <td>{{ character.name }}</td>
        <td>{{ character.status }}</td>
        <td>{{ character.created | date : "short" }}</td>
      </tr>
    </tbody>
  </table>

  <nav class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a href="#" class="page-link" (click)="loadPage(1, $event)">First</a>
    </li>

    <li class="page-item">
      <a
        href="#"
        class="page-link"
        [class.disabled]="!prev"
        (click)="onPrev($event)"
        >Previous</a
      >
    </li>

    <li
      *ngFor="let page of getPageRange()"
      class="page-item"
      [class.active]="currentPage === page"
    >
      <a href="#" class="page-link" (click)="loadPage(page, $event)">{{
        page
      }}</a>
    </li>

    <li class="page-item">
      <a
        href="#"
        class="page-link"
        [class.disabled]="!next"
        (click)="onNext($event)"
        >Next</a
      >
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a href="#" class="page-link" (click)="loadPage(totalPages, $event)"
        >Last</a
      >
    </li>
  </nav>
</div>
