/* You can add global styles to this file, and also import other style files */

.container {
  min-height: 100vh;
  /* border: dashed; */
  align-items: center;
  justify-content: center;
  display: flex;
}
